:root {
  --box-padding: 30px 20px;
  --box-shadow: 30px;
  --border-size: 2px;
  --border-radius: 5px;
  --transition-speed: 0.3s;
  --button-padding-v: 10px;
  --button-padding-h: 20px;
  --msg-margin: 10px;
  --small-font-size: 12.5px;
  --large-font-size: 17px;
  --heading-font-color: #555;
  --primary-color: #1579be;
  --secondary-color: #0b417a;
  --light-bg-color: #e7eff4;
  --dark-bg-color: linear-gradient(to right, #fbfbfb, #fff, #fbfbfb);
  --light-border-color: #bbb;
  --input-border-color: #ddd;
  --highlight-border-color: #3b99d7;
  --input-focus-color: #1579be;
  --overall-font-family: "Verdana", Times, serif;
  --input-font-family: "Verdana", Times, serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--dark-bg-color);
  font-family: var(--overall-font-family);
}

.content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.subcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 50%;
  min-width: 500px;
  display: flex;
  box-shadow: 0 0 var(--box-shadow) 0 var(--light-border-color);
}

.left-column {
  width: 33%;
  background: var(--light-bg-color);
  padding: var(--box-padding);
}

.small-text {
  font-size: var(--small-font-size);
  width: 85%;
  word-wrap: break-word;
}

.large-text {
  font-size: var(--large-font-size);
  width: 85%;
  word-wrap: break-word;
  margin-top: 0;
}

.vertical-gap {
  height: 0.7rem;
}

.right-column {
  width: 67%;
  background: var(--dark-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0 0 30px 0;
  color: var(--heading-font-color);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

select,
input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  transition: border-color var(--transition-speed) ease;
  font-family: var(--overall-font-family);
}

select:focus,
input:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

option {
  color: black;
}

button {
  padding: var(--button-padding-v) var(--button-padding-h);
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
}

button:hover {
  background-color: var(--secondary-color);
}

.save-credentials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vh;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  border: var(--border-size) solid var(--highlight-border-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-msg {
  font-size: var(--small-font-size);
  width: 85%;
  word-wrap: break-word;
  text-align: center;
  margin: var(--msg-margin) 0;
}

.large-msg {
  font-size: var(--large-font-size);
  width: 85%;
  word-wrap: break-word;
  text-align: center;
  margin: var(--msg-margin) 0;
  font-weight: bold;
}

.ret-to-home {
  display: inline-block;
  padding: var(--button-padding-v) var(--button-padding-h);
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  margin-top: 2.5rem;
  font-size: 14px;
  font-weight: normal;
}

.ret-to-home:hover {
  background-color: var(--secondary-color);
}

.bottom-left-image {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 90px;
  height: auto;
}
