{% extends 'layout.html' %} {% block body %}

<div class="content">
  <div class="subcontent">
    <div class="left-column">
      {% if current_network_info and current_network_info.ssid != "Not
      Connected" %}
      <p class="small-text">Connected To</p>
      <p class="large-text">{{ current_network_info.ssid }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Signal Strength</p>
      <p class="large-text">{{ current_network_info.signal_strength }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Serial No</p>
      <p class="large-text">{{ current_network_info.serial_number }}</p>
      <div class="vertical-gap"></div>
          <p class="small-text">Sim Card</p>
      <p class="large-text">Airtel</p>
          <div class="vertical-gap"></div>
          <p class="small-text">4G Signal</p>
      <p class="large-text">-90dbi</p>
<div class="vertical-gap"></div>
          <div class="vertical-gap"></div>
          <p class="small-text">SETUP MODE: </p>

<label class="switch">
    {% if is_setup_mode %}
    <input type="checkbox" id="setupModeCheckbox" checked/>
        {% else %}
         <input type="checkbox" id="setupModeCheckbox">
        {% endif %}
  <span class="slider round"></span>
</label>
      {% else %}
      <p class="small-text">Network Info</p>
      <p class="large-text">Not connected to any WiFi network</p>
      {% endif %}
</div>

    <div class="right-column">
      <h2>Choose Wifi Network</h2>
      <div class="input-container">
        <form action="{{ url_for('save_credentials') }}" method="post">
          <select id="ssid" name="ssid" ,>
            {% for ssid in wifi_networks %}
            <option value="{{ ssid }}">{{ ssid }}</option>
            {% endfor %}
          </select>
          <input type="password" name="wifi_key" , placeholder="Password" />
          <button type="submit"> Connect</button>
        </form>
      </div>
    </div>
  </div>
</div>

    <script>
    // Get the checkbox element
const setupModeCheckbox = document.getElementById('setupModeCheckbox');

// Add an event listener to the checkbox
setupModeCheckbox.addEventListener('change', (event) => {
  // Check if the checkbox is checked or not
  if (event.target.checked) {
    // Checkbox is checked, make the API call for "on" state
    makeApiCall('on');
  } else {
    // Checkbox is unchecked, make the API call for "off" state
    makeApiCall('off');
  }
});

// Function to make the API call
function makeApiCall(state) {
  // Construct the API endpoint URL
  const apiUrl = `/api/setup-mode?state=${state}`;

  // Make the API call using fetch or your preferred method
  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      // Handle the API response as needed
      console.log(data);
    })
    .catch(error => {
      // Handle any errors that occurred during the API call
      console.error(error);
    });
}
    </script>
{% endblock %}
