{% extends 'layout.html' %} {% block body %}

<div class="content">
  <div class="subcontent">
    <div class="left-column">
      {% if current_network_info and current_network_info.ssid != "Not
      Connected" %}
      <p class="small-text">Connected To</p>
      <p class="large-text">{{ current_network_info.ssid }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Signal Strength</p>
      <p class="large-text">{{ current_network_info.signal_strength }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">IP Address</p>
      <p class="large-text">192.168.0.1</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Physical Address</p>
      <p class="large-text">1c:c1:0c:ba:76:38</p>
      {% else %}
      <p class="small-text">Network Info</p>
      <p class="large-text">Not connected to any WiFi network</p>
      {% endif %}
      <img src="{{ url_for('static', filename='images/MetalCloud-HorizontalLogo.png') }}" alt="Description of the image" class="bottom-left-image">
    </div>
    <div class="right-column">
      <h2>Choose Wifi Network</h2>
      <div class="input-container">
        <form action="{{ url_for('save_credentials') }}" method="post">
          <select id="ssid" name="ssid" ,>
            {% for ssid in wifi_networks %}
            <option value="{{ ssid }}">{{ ssid }}</option>
            {% endfor %}
          </select>
          <input type="password" name="wifi_key" , placeholder="Password" />
          <button type="submit" ,>Connect</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
