{% extends 'layout.html' %}

{% block body %}
  <div id="saveCredentialsOutput">
    {% if connection_status %}
      <p>Wifi connection configured for:</p>
      <span class="saveCredentialsSSID">{{ ssid }}</span>
      <p>Your device should be connected to your access point.</p>
    {% else %}
      <p>Failed to connect to WiFi network:</p>
      <span class="saveCredentialsSSID">{{ ssid }}</span>
      <p>Please check your credentials and try again.</p>
    {% endif %}

    <!-- Button to go to homepage -->
    <a href="{{ url_for('index') }}" class="returnHomeButton">Return to Homepage</a>
  </div>
{% endblock %}
