{% extends 'layout.html' %} {% block body %}

<div class="content">
  <div class="subcontent">
    <div class="left-column">
      {% if current_network_info and current_network_info.ssid != "Not
      Connected" %}
      <p class="small-text">Connected To</p>
      <p class="large-text">{{ current_network_info.ssid }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Signal Strength</p>
      <p class="large-text">{{ current_network_info.signal_strength }}</p>
      <div class="vertical-gap"></div>
      <p class="small-text">IP Address</p>
      <p class="large-text">192.168.0.1</p>
      <div class="vertical-gap"></div>
      <p class="small-text">Physical Address</p>
      <p class="large-text">1c:c1:0c:ba:76:38</p>
      {% else %}
      <p class="small-text">Network Info</p>
      <p class="large-text">Not connected to any WiFi network</p>
      {% endif %}
      <img
        src="{{ url_for('static', filename='images/MetalCloud-HorizontalLogo.png') }}"
        alt="Description of the image"
        class="bottom-left-image" />
    </div>
    <div class="right-column">
      {% if connection_status %}
      <p class="small-msg">Wifi connection configured for:</p>
      <p class="large-msg">{{ ssid }}</p>
      <p class="small-msg">
        Your device should be connected to your access point.
      </p>
      {% else %}
      <p class="small-msg">Failed to connect to WiFi network:</p>
      <p class="large-msg">{{ ssid }}</p>
      <p class="small-msg">Please check your credentials and try again.</p>
      {% endif %}
      <a
        class="ret-to-home"
        href="{{ url_for('index') }}"
        class="returnHomeButton"
        >Return to Home</a
      >
    </div>
  </div>
</div>

{% endblock %}
